@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import "tailwindcss";
@theme {
  --font-golos: "Golos Text", sans-serif;
}

.reglog:active {
  transform: scale(0.95);
}

/* .bg-design {
  background: rgb(12, 10, 10);
  background: linear-gradient(
    75deg,
    rgba(12, 10, 10, 1) 0%,
    rgb(102, 89, 50) 81%,
    rgb(114, 97, 40) 100%
  );
} */
